.add-blog
	width: 45%
	margin: auto
	background: #FFF
	box-shadow: $shadow_flat
	color: #333
	padding: 10px 20px
	form
		.input-warpper
			font-size: 20px
			margin-bottom: 30px
			label
				display: block
				margin-bottom: 3px
			input,textarea
				width: 100%
				border: 0
				border-bottom: 2px solid #AAA
				padding: 5px 10px
				transition: .1s
				&:focus
					outline: 0
					border-bottom: 2px solid #1abc9c
			select
				width: 100%
				border: 1px solid #AAA
				padding: 5px 10px
			.half
				width: 48%
				float: left
				margin-right: 2%
		button[type="submit"]
			display: block
			width: 80%
			margin: 25px auto
			color: #FFF
			border: 0
			background: #1abc9c
			padding: 10px
			transition: .1s
			&:hover
				background: #1abc9c / .9
				cursor: pointer
			



